#user_page {
    width: 100vw;
    min-height: 100vw;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    margin-top: 25px;

    #userAdd {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #wrapper_users {
        width: calc(100vw - 200px);

        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 20px;
        
        padding-right: 200px;

        background-color: #333;

        .users {
            color: white;
            max-width: 150px;
            width: 150px;
            height: 250px;
        }
    }
    
    #interaction {
        max-width: 180px;

        position: fixed;
        right: 0;
        top: 50vh;
        transform: translateY(-50%);

        display: flex;
        flex-direction: column;
        gap: 10px;

        color: white;
        background-color: #444;
        padding: 10px;

        #all_el {
            text-wrap: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;
            user-select: none;
        }

        #setAutoIncr {
            width: 100%;

            display: flex;
            justify-content: space-between;
            align-items: center;

            input {
                width: 50%;
                border: 1px black solid;
            }
        }
    }
}